.topBarDiv {
    width: 100%;
    height: 350px;
    background-image: url(https://images.staff.am/upload/1/6/7/2/1672956e.jpg);
    color: white;
}
.topBarImg img{
    width: 150px;
    height: 150px;
}
